    {% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'post-list' %}">
            <i class="bi bi-journal-bookmark-fill"></i> RBAC Blog
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post-list' %}">
                        <i class="bi bi-house"></i> Home
                    </a>
                </li>
                {% if user.is_authenticated and not user.is_guest %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post-create' %}">
                        <i class="bi bi-plus-circle"></i> Create Post
                    </a>
                </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.is_super_admin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-shield-lock-fill"></i> Admin
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                                    <i class="bi bi-speedometer2"></i> Django Admin
                                </a></li>
                                <li><a class="dropdown-item" href="{% url 'user-list' %}">
                                    <i class="bi bi-people"></i> Manage Users
                                </a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'swagger-ui' %}">
                                    <i class="bi bi-file-code"></i> API Docs
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            {% if user.first_name %}
                                <i class="bi bi-person-circle"></i> {{ user.first_name }}
                            {% else %}
                                <i class="bi bi-person-circle"></i> {{ user.email }}
                            {% endif %}
                            {% if user.is_super_admin %}
                                <span class="badge bg-danger ms-1">Super Admin</span>
                            {% elif user.is_moderator %}
                                <span class="badge bg-warning ms-1">Moderator</span>
                            {% elif user.is_regular_user %}
                                <span class="badge bg-info ms-1">User</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">
                                <i class="bi bi-person"></i> Profile
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'change-password' %}">
                                <i class="bi bi-key"></i> Change Password
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="POST" action="{% url 'logout' %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item text-danger">
                                        <i class="bi bi-box-arrow-right"></i> Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary text-white" href="{% url 'register' %}">
                            <i class="bi bi-person-plus"></i> Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>